<!DOCTYPE html>
<html>
 <head>
    <script type = "text/javascript" src = "https://d3js.org/d3.v4.min.js"></script>
    <script src="https://d3js.org/d3-contour.v1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
 </head>

 <body>
    <div id="my_dataviz"></div>
    <button>Get External Content</button>
    <div id="my_dataviz2"></div>

<script>

$(document).ready(function(){
  $("button").click(function(){
    $.ajax({
            type: "POST",
            url: '/d3/getDataContour',
            success: function (data) {
               var pos_data = data;
               div_name = "#my_dataviz";
               draw_contourplot(div_name, pos_data);
            },
            error: function (result) {
            }
    });
  });
});
  // read data
  //d3.csv("https://raw.githubusercontent.com/holtzy/D3-graph-gallery/master/DATA/data_for_density2d.csv", function(data) {
  function draw_contourplot(reference, data){

    //Attempt to get the element using document.getElementById
    var element = document.getElementsByClassName("myplot");

    //If it isn't "undefined" and it isn't "null", then it exists.
    if(typeof(element) != 'undefined' && element != null){
        alert('Element exists! ==> Will remove it!');
        d3.select("svg").remove();
    } else{
        alert('Element does not exist!');
    }

    // set the dimensions and margins of the graph
    var margin = {top: 20, right: 30, bottom: 30, left: 40},
        width = data.width - margin.left - margin.right,
        height = data.height - margin.top - margin.bottom;

    // create svg element:
    var svg = d3.select(reference)
              .append("svg")
                .attr("width", width + margin.left + margin.right)
                .attr("height", height + margin.top + margin.bottom)
              .append("g")
                .attr("transform",
                      "translate(" + margin.left + "," + margin.top + ")")
              .attr("class", "myplot");

    // Axis and Scalers
    var ScaleX = d3.scaleLinear()
                 .domain([d3.min(data.values, function (d) {return d.x}), d3.max(data.values, function (d) {return d.x})])
                 .range([0, width]);
    svg.append("g")
      .attr("transform", "translate(0," + height + ")")
      .call(d3.axisBottom(ScaleX));

    var ScaleY = d3.scaleLinear()
                 .domain([d3.min(data.values, function (d) {return d.y}), d3.max(data.values, function (d) {return d.y})])
                 .range([0, height]);
    svg.append("g")
      .call(d3.axisLeft(ScaleY));


    // Contour plot
    var densityData = d3.contourDensity()
        .x(function(d) { return ScaleX(d.x); })   // x and y = column name in .csv input data
        .y(function(d) { return ScaleY(d.y); })
        .size([width, height])
        .bandwidth(20)    // smaller = more precision in lines = more lines
        (data.values)

    var color = d3.scaleLog()
      .domain(d3.extent(data.levels))
      .interpolate(function() { return d3.interpolateYlGnBu; });

    var contours = d3.contours()
      .size([width, height])
      .thresholds(data.levels);

    svg.append("g")
        .attr("fill", "none")
        .attr("stroke", "#fff")
        .attr("stroke-opacity", 0.5)
      .selectAll("path")
      .data(contours)
      .join("path")
        .attr("fill", d => color(d.value))
        .attr("d", d3.geoPath());

  };
  </script>
 </body>
</html>